In [1]:
import pandas as pd

In [7]:
'''
Part 1: UFO
'''
ufo = pd.read_csv('../data/ufo.csv')   # can also read csvs directly from the web!
ufo.head()


# 1. change the column names so that each name has no spaces
#           and all lower case (replace spaces with underscores)

# 2. Show a bar chart of all shapes reported

# 3. Show a dataframe that only displays the reportings from Utah

# 4. Show a dataframe that only displays the reportings from Texas

# 5. Show a dataframe that only displays the reportings from Utah OR Texas

# 6. Which shape is reported most often?

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [8]:
'''
Part 2: FIFA GOALS
'''

goals = pd.read_csv('../data/fifa_goals.csv')
goals.sort_index(by='team1score', inplace = True)
goals


# 1. Some elements in the minute column have a  '+', remove it and cast each element as an int!
#     Hint: To replace, use a .apply lambda function to remove any plus symbols
#     Hint: look up pandas dataframes astype method
#     To check use the dataframe.describe() method to see if it is an integer

# 2. Show goals scored in the first 5 minutes of a game

# 3. Show goals scored after the regulation 90 minutes is over

# 4. Show the top scoring players

# 5. Show a histogram (distribution) of minutes with 20 bins

# 6. Show a histogram of the number of goals scored by players

/Users/sinanozdemir/anaconda/envs/sfdat26-env/lib/python2.7/site-packages/ipykernel/__main__.py:6: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)

      game_id minute          player  team1score  team2score
1103      422     80        VlaoviÄ           0           2
1414      551     34         J. Cole           0           1
1423      554     60         FlÃ¡vio           0           1
1425      556     10         Å½igiÄ           0           1
1426      556     20           IliÄ           0           2
1430      557     26       Materazzi           0           1
1431      557     87         Inzaghi           0           2
1444      561     36         Juanito           0           1
1446      563     55          Vieira           0           1
1447      563     61           Henry           0           2
1452      566      6        MÃ¡rquez           0           1
1465      573     49           Ayala           0           1
1470      576     57           Henry           0           1
1471      577    119          Grosso           0           1
1410      549     57        Podolski           0           3
1472      577   120+       Del Piero           0           2
1483      584     13    Dermendzhiev           0           1
1484      584     49           Bonev           0           2
1492      587     11        PetrÃ¡Å¡           0           1
425       136     12          Haller           0           1
1497      588     21         Houmane           0           1
1505      591      3        PetrÃ¡Å¡           0           1
1518      596     12       Nikodimov           0           1
406       130     25  Yang Sung-kook           0           3
405       130     22   Lee Dong-woon           0           2
404       130      1  Park Seung-jin           0           1
1542      606     13       GonzÃ¡lez           0           1
1553      608     31         Mullery           0           1
1554      608     49          Peters           0           2
1478      580      7     Zidane [p.]           0           1
...       ...    ...             ...         ...         ...
2136      824     70          Burhan           6           0
188        51     89        Fontaine           6           3
691       283     84          Nyberg           7           0
2152      827     79        SchÃ¤fer           7           1
87         21     83         Vincent           7           3
207        57     72         Szentes           7           1
1638      642     89           Tiago           7           0
1836      719     61           Oblak           7           0
2137      824     76            Erol           7           0
2127      823     73        J. TÃ³th           7           1
781       305     88           Chico           7           1
762       302     73       J. PÃ©rez           7           0
7           1    90+          Meazza           7           1
2176      830     77          Probst           7           5
2085      816     75        PalotÃ¡s           7           0
2128      823     77            Rahn           7           2
2107      819     85         Abbadie           7           0
2153      827     82          Lefter           7           2
1918      750     84        Bierhoff           7           0
1919      750    90+       Schneider           8           0
2129      823     78          Kocsis           8           2
208        57     73         L. Kiss           8           1
763       302     83         Ghiggia           8           0
1837      719     65       PetkoviÄ           8           0
2086      816     83        PalotÃ¡s           8           0
2130      823     81        Herrmann           8           3
692       283     89    H. Andersson           8           0
2087      816     89         PuskÃ¡s           9           0
209        57     76         L. Kiss           9           1
1838      719     81        BajeviÄ           9           0

[2207 rows x 5 columns]